@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}

body {
	/* height: 100vh; */
	/* width: 100vw; */
	font-family: 'Maven Pro', sans-serif;
	/* font-family: 'Bebas Neue', cursive; */
}
.container {
	padding: 0 15%;
}
/* ======================================= Hero Page #1 ======================================= */
#hero {
	background: url('./assets/background.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
}

.overlay-hero {
	background: rgba(255, 255, 255, 0.3);
	height: 100%;
	overflow: hidden;
}

.headline-mask {
	/* background: green; */
	mask-image: url('./assets/background_mask.png');
	-webkit-mask-image: url('./assets/background_mask.png');
	mask-position: center center;
	-webkit-mask-position: center center;
	mask-size: cover;
	-webkit-mask-size: cover;
	height: 100%;
	/* width: 100%; */
	overflow: hidden;
}

.headline-mask .losangeles {
	color: rgba(77, 77, 77, 1);
	font-family: 'Bebas Neue', cursive;
	font-size: 11rem;
	text-transform: uppercase;
	position: absolute;
	top: 28%;
	left: 44%;
	transform: translate(-50%, -50%);
	letter-spacing: -1px;
}

.headline-mask .mountains {
	color: #414f6b;
	font-family: 'Bebas Neue', cursive;
	font-size: 11rem;
	text-transform: uppercase;
	position: absolute;
	top: 44%;
	left: 44%;
	transform: translate(-50%, -50%);
	letter-spacing: 5px;
}

/* Menu  */
.nav-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	/* background: pink; */
}

.ul-menu {
	display: flex;
	justify-content: center;
	align-content: center;
	list-style: none;
	width: 50%;
	margin-left: auto; /* this moves list items to the left */
	/* height: 100%; */
}

.ul-menu li a {
	text-decoration: none;
	color: white;
	padding-left: 15px;
	text-transform: uppercase;
	font-style: italic;
	position: relative;
}

.ul-menu li a:after {
	content: '';
	position: absolute;
	border-bottom: 1px solid white;
	bottom: -6px;
	left: 15px;
	width: 85%;
}
.ul-menu li a:hover:after {
	transition: all 0.5s ease-in-out;
	border-bottom: 1px solid blue;
}
/* ======================================= History Page #2 ======================================= */
.logo-headline {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.logo-headline-wrapper {
	display: flex;
	flex-flow: column;
	padding-left: 4%;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	line-height: 2rem;
}
.logo-headline-wrapper .losangeles {
	color: rgba(77, 77, 77, 1);
	letter-spacing: 0.5px;
}
.logo-headline-wrapper .mountains {
	color: #414f6b;
	letter-spacing: 1.8px;
}

#history .nav-menu .ul-menu li a {
	color: #414f6b;
	position: relative;
}
#history .nav-menu .ul-menu li a:after {
	color: #414f6b;
	position: absolute;
	border-bottom: 1px solid #414f6b;
}
#history .nav-menu .ul-menu li a:hover:after {
	transition: all 0.5s ease-in-out;
	border-bottom: 1px solid bisque;
}

.history {
	background: url('./assets/peak.png') no-repeat;
	background-position: top center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.history-overlay {
	background-color: rgba(255, 255, 255, 0.03);
	backdrop-filter: hue-rotate(30deg);
	height: 100vh;
	overflow: hidden;
}
.history-headline {
	position: relative;
}
.history-title-number {
	font-size: 12rem;
	font-family: 'Oswald', sans-serif;
	letter-spacing: -1px;
	/* color: #414f6b; */
	color: rgba(65, 79, 107, 0.5);
	padding-left: 2%;
}
.history-title {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3rem;
	color: #414f6b;
	bottom: 80px;
	left: 214px;
}

.history-story {
	line-height: 1.5rem;
	padding: 0 10%;
	margin-top: -40px;
}
/* =========================== Carousel  ======================== */

#carousel {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 21vh;
	background: rgba(65, 79, 107, 0.7);
	width: 100vw;
	overflow: hidden;
}

.swiper-container {
	width: 100%;
	height: 20vh;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 10;
	right: 0;
}

.swiper-slide {
	text-align: center;
	background-position: center center;
	background-size: cover;
	margin: 30px auto 0;
	background: rgba(65, 79, 107, 0.7);
}

.one,
.three,
.five,
.seven,
.nine {
	background: url('./assets/thumbnail.jpg') no-repeat;
	/* background-position: center center; */
	background-size: cover;
	width: auto;
	max-width: 100%;
	height: auto;
}
.two,
.four,
.six,
.eight,
.ten {
	background: url('./assets/thumbnail1.jpg') no-repeat;
	/* background-position: center center; */
	background-size: cover;
	width: auto;
	max-width: 100%;
	height: auto;
}
:root {
	--swiper-theme-color: lightgrey !important;
}

/* ======================================= Climb Page #3 ======================================= */
.climb-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.climb-headline {
	position: relative;
}

.climb-title-number {
	font-size: 12rem;
	font-family: 'Oswald', sans-serif;
	letter-spacing: -1px;
	padding-left: 2%;
	color: rgba(65, 79, 107, 0.5);
	/* color: #414f6b; */
}
.climb-title {
	position: absolute;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3rem;
	color: #414f6b;
	bottom: 80px;
	left: 215px;
}
.climb-paragraph {
	width: 70%;
	padding-right: 5%;
	padding-left: 5%;
}

/* ------------ Building Tab ------------------ */
.climb-background {
	background: url('./assets/climb_background.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	height: 70%;
}
.climb-tab-background {
	background: rgba(65, 79, 107, 0.9);
}
.climb-tab-menu {
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
	font-size: 2rem;
	color: lightgrey;
	display: flex;
	flex-flow: row;
	/* justify-content: space-around; */
}
.climb-tab-menu li {
	list-style: none;
	padding: 5px 20px;
	position: relative;
	letter-spacing: 1px;
}
.climb-tab-menu li:hover {
	background-color: lightgrey;
	color: rgba(65, 79, 107, 0.9);
	transition: all 0.5s ease-in-out;
}
.climb-tab-menu li:hover:after {
	content: '';
	border-bottom: 1px solid rgba(65, 79, 107, 0.9);
	position: absolute;
	bottom: 8px;
	left: 18px;
	width: 78%;
}
[ data-tab-content] {
	display: none;
}
.active[ data-tab-content] {
	display: block;
}
.tab.active {
	background-color: lightgrey;
	color: rgba(65, 79, 107, 0.9);
}
.tab.active:after {
	content: '';
	border-bottom: 1px solid rgba(65, 79, 107, 0.9);
	position: absolute;
	bottom: 8px;
	left: 18px;
	width: 78%;
}
.tab {
	cursor: pointer;
}
#mountain1,
#mountain2 {
	padding-top: 10%;
}
.mountain1-background,
.mountain2-background {
	background-color: rgba(255, 255, 255, 0.5);
	width: 35%;
	padding: 30px;
}
h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #414f6b;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 1.5px;
}
#mountain1-content,
#mountain2-content {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
	width: 70%;
	line-height: 2.5rem;
	font-size: 1.3rem;
}

/* ======================================= Footer ======================================= */

footer {
	background: rgba(65, 79, 107, 0.9);
}
.footer-copyright {
	text-transform: uppercase;
	font-size: 8px !important;
	font-style: italic;
	color: #63769d;
	font-weight: bold;
	letter-spacing: 1px;
}

footer .logo-headline-wrapper .losangeles {
	color: #63769d;
}
footer .logo-headline-wrapper .mountains {
	color: #63769d;
}

/*  ============================================= Responsive Design =================================   */
/*  ============================================================================================   */

/*  ===============  Smartphones in portrait mode   ===============  */

/* @media (max-width: 420px)  */
@media (max-width: 500px) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.headline-mask .losangeles {
		font-size: 4.5rem;
		position: absolute;
		top: 39%;
		left: 47%;
		transform: translate(-50%, -50%);
		letter-spacing: 1px;
	}
	.headline-mask .mountains {
		font-size: 4.5rem;
		text-transform: uppercase;
		position: absolute;
		top: 47%;
		left: 48%;
		letter-spacing: 4px;
		/* transform: translate(-50%, -50%); */
	}
	/* Hamburger */
	.nav-menu {
		padding-top: 5%;
	}
	#logo {
		margin-left: 5%;
	}
	.ul-menu {
		position: fixed;
		background: rgba(255, 255, 255, 0.8);
		/* background: rgba(65, 79, 107, 0.7); */
		height: 100vh;
		width: 100%;
		margin-top: 25%;
		flex-direction: column;
		align-items: center;
		clip-path: circle(100px at 40% -20%);
		-webkit-clip-path: circle(100px at 90% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
	}
	.ul-menu.open {
		clip-path: circle(1005px at 40% -10%);
		-webkit-clip-path: circle(1005px at 90% -10%);
		pointer-events: all;
	}
	.ul-menu li {
		padding-top: 80px;
	}
	.ul-menu li a {
		color: black;
	}
	.ul-menu li a:after {
		border-bottom: 1px solid black;
	}
	.line {
		width: 30px;
		height: 3px;
		background: #414f6b;
		margin: 5px;
	}
	.hamburger {
		cursor: pointer;
		margin-right: 5%;
		z-index: 2;
	}
	#history header .nav-menu {
		padding-top: 0;
		justify-content: center;
		height: 15vh;
	}
	.history-headline {
		padding-bottom: 0;
		margin-top: -10%;
	}
	.history-title-number {
		font-size: 10.5rem;
	}
	.history-title {
		left: 170px;
		bottom: 87px;
		color: rgba(65, 79, 107, 0.5);
	}
	.history-story {
		background: rgba(255, 255, 255, 0.5);
		padding: 20px 4%;
		margin-top: -25px;
	}

	.swiper-wrapper {
		padding-left: 2.5%;
		/* padding-right: 5%; */
	}
	.swiper-container {
		height: auto;
		overflow-y: hidden;
		bottom: 14px;
	}
	.swiper-slide {
		height: auto;
		width: 185px !important;
	}

	/*  ==================== Climb Page #2 ===================== */
	.climb-header {
		display: inline-block;
	}
	.climb-title-number {
		font-size: 10.5rem;
	}
	.climb-title {
		color: rgba(65, 79, 107, 0.5);
		bottom: 70px;
		left: 184px;
	}
	.climb-paragraph {
		/* background: rgba(255, 255, 255, 0.5); */
		padding: 5%;
		border-radius: 7px;
		width: 100%;
		margin-top: -10px;
		margin-bottom: 10px;
		line-height: 1.4rem;
	}
	.climb-tab-menu {
		justify-content: space-evenly;
	}
	/* ============== Tab Content =============== */
	.mountain1-background,
	.mountain2-background {
		width: 100%;
	}
	.mountain1-background h1,
	.mountain2-background h1 {
		margin-top: 10px;
	}
	#mountain1-content,
	#mountain2-content {
		width: 90%;
		height: 55%;
		line-height: 3rem;
		padding-top: 20px;
	}
	/* ============== Footer =================== */

	.logo-headline {
		justify-content: normal;
	}

	.footer-copyright {
		font-style: normal;
	}
}

/*  =============== Smartphones in landscape mode  =============== */
@media (min-width: 414px) and (max-width: 920px) and (orientation: landscape) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.nav-menu {
		height: 8vh;
	}
	.headline-mask .losangeles {
		font-size: 4.5rem;
		position: absolute;
		top: 30%;
		left: 46%;
		transform: translate(-50%, -50%);
		letter-spacing: 1px;
	}
	.headline-mask .mountains {
		font-size: 4.5rem;
		text-transform: uppercase;
		position: absolute;
		top: 44%;
		left: 46%;
		transform: translate(-50%, -50%);
		letter-spacing: 4px;
	}
	#logo {
		padding-top: 10px;
		padding-left: 10px;
	}
	#history header .nav-menu {
		padding-top: 0;
		justify-content: center;
		height: 30vh;
	}
	.history-title-number {
		font-size: 10rem;
		position: absolute;
	}
	.history-title {
		left: 167px;
		position: absolute;
		top: 98px;
		color: rgba(65, 79, 107, 0.5);
	}
	.history-story {
		background: rgba(255, 255, 255, 0.5);
		padding-top: 5.5%;
		margin-top: -4%;
		line-height: 1.4rem;
		height: 74%;
	}
	.history-headline {
		padding-bottom: 0;
	}
	#carousel {
		height: 34vh;
	}
	.history-overlay .container {
		/* padding-left: 4%; */
		/* padding-right: 4%; */
	}

	.swiper-container {
		height: auto;
		overflow-y: hidden;
	}
	.swiper-wrapper {
		margin-top: -5px;
	}
	.swiper-slide {
		height: auto;
	}
}

/*  ===================== Tablets in portrait mode, large display smartphones landscape mode */
@media (min-width: 768px) and (max-width: 1023px) {
}

/*  ==================== Tablets in landscape mode, older desktop monitors */
@media (min-width: 1024px) and (max-width: 1365px) {
	h1 {
		font-size: 32px;
	}
}

/*  ==================== Monitors with screen width 1366px or above */
@media (min-width: 1365px) {
}
